<p (click)="sendBackData.emit(
  {
            'step': 1,
            'removed': {
                'product_category': undefined,
                'product_item': undefined,
                'product_stock': undefined,
                'product_price': undefined,
                'intensity': undefined,
                'size': undefined,
                'ingredient': [],
                'topping': [],
                'price': undefined
            }
        }
)" class="btn-border-blue restart">Recommencer</p>
<h2>Chosis tes ingrédients</h2>
<form>
    <div *ngFor="let item of category">
        <h3>{{ item.label }}</h3>
        <ul>
            <li *ngFor="let ingredient of item.ingredients">
                <input id="{{ ingredient.id }}" type="checkbox" value="{{ ingredient.label }}"
                       (click)="sendBackData.emit({'data':{'ingredient': ingredient.label}})">
                <label for="{{ ingredient.id }}">{{ ingredient.label }}</label>
                <p>{{ (ingredient.price * inputData.size)  | number: "1.2" }} e</p>
            </li>
        </ul>
    </div>
</form>
<button (click)="sendBackData.emit({'step': 6})">Valider</button>