<p (click)="sendBackData.emit(
  {
            'step': 1,
            'removed': {
                'product_category': undefined,
                'product_item': undefined,
                'product_stock': undefined,
                'product_price': undefined,
                'intensity': undefined,
                'size': undefined,
                'ingredient': [],
                'topping': [],
                'price': undefined
            }
        }
)" class="btn-border-blue restart">Recommencer</p>
<h2>Votre sélection</h2>
<div class="flex">
  <div class="container-category ">
        <p>Categorie : {{ inputData.product_category }}</p>
        <p>Produit : {{ inputData.product_item }}</p>
        <p>Taille : {{ inputData.size }}</p>
        <div *ngIf="inputData.ingredient !== []">
          <p>Ingrédients</p>
          <ul>
            <li *ngFor="let ingredient of inputData.ingredient">
              {{ ingredient }}
            </li>
          </ul>
        </div>
        <div *ngIf="inputData.topping !== []">
          <p>Nappages</p>
          <ul>
            <li *ngFor="let topping of inputData.topping">
              {{ topping }}
            </li>
          </ul>
        </div>
        <p>{{ inputData.price  | number: "1.2" }} euros</p>
   
  </div>

  <div>
    <form>
      <div *ngIf="options.sugar > inputData.size">
        <h3>Du sucre ?</h3>
        <input type="radio" name="sugar" id="sugar-false" checked>
        <label for="sugar-false">Non</label>
        <input type="radio" name="sugar" id="sugar-true">
        <label for="sugar-true">Oui</label>
      </div>
      <div *ngIf="options.stick > inputData.size">
        <h3>Une touillette ?</h3>
        <input type="radio" name="stick" id="stick-false" checked>
        <label for="sugar-false">Non</label>
        <input type="radio" name="stick" id="stick-true">
        <label for="sugar-true">Oui</label>
      </div>
    </form>

    <p class="total-price">Prix total : {{ inputData.price }} euros</p>
  </div>

</div>

<button>Valider</button>

