<h2>Commande finales</h2>
<p>Categorie : {{ inputData.product_category }}</p>
<p>Produit : {{ inputData.product_item }}</p>
<p>Taille : {{ inputData.size }}</p>
<div *ngIf="inputData.ingredient !== []">
    <p>Ingrédient</p>
    <ul>
        <li *ngFor="let ingredient of inputData.ingredient">
            {{ ingredient }}
        </li>
    </ul>
</div>
<div *ngIf="inputData.topping !== []">
    <p>Nappages</p>
    <ul>
        <li *ngFor="let topping of inputData.topping">
            {{ topping }}
        </li>
    </ul>
</div>
<p>{{ inputData.price }} euros</p>
