<p (click)="sendBackData.emit(
  {
            'step': 1,
            'removed': {
                'product_category': undefined,
                'product_item': undefined,
                'product_stock': undefined,
                'product_price': undefined,
                'intensity': undefined,
                'size': undefined,
                'ingredient': [],
                'topping': [],
                'price': undefined
            }
        }
)" class="btn-border-blue restart">Recommencer</p>
<h2>Chosissez les nappages</h2>
<form>
  <div *ngFor="let item of category">
    <h3>{{ item.label }}</h3>
    <ul>
      <li *ngFor="let topping of item.toppings">
        <input id="{{ topping.id }}" type="checkbox" value="{{ topping.label }}"
               (click)="sendBackData.emit({'data':{'topping': topping.label}})">
        <label for="{{ topping.id }}">{{ topping.label }}</label>
        <p>{{ topping.price }}</p>
      </li>
    </ul>
  </div>
</form>
<button (click)="sendBackData.emit({'step': 7})">Valider</button>