<p (click)="sendBackData.emit(
  {
            'step': 1,
            'removed': {
                'product_category': undefined,
                'product_item': undefined,
                'product_stock': undefined,
                'product_price': undefined,
                'intensity': undefined,
                'size': undefined,
                'ingredient': [],
                'topping': [],
                'price': undefined
            }
        }
)" class="btn-border-blue restart">Recommencer</p>
<h2>Quel variété voulez-vous?</h2>
<div class="flex">
    <div *ngFor="let item of product">
            <div *ngIf="inputData.product_category === 'Café' && item.stock > 0"
                    (click)="sendBackData.emit({'data':{'product_item':item.label, 'product_stock':item.stock, 'product_price':item.price},'step':3})">
                <p class="container-category">{{ item.label }}</p>
                <h3>{{ item.description }}</h3>
                <p class="price">{{ item.price  | number: "1.2" }}‎€</p>
            </div>
            <div *ngIf="inputData.product_category != 'Café' && item.stock > 0"
                    (click)="sendBackData.emit({'data':{'product_item':item.label, 'product_stock':item.stock, 'product_price':item.price},'step':4})">
                <p class="container-category">{{ item.label }}</p>
                <h3>{{ item.description }}</h3>
                <p class="price">{{ item.price  | number: "1.2" }}‎€</p>
            </div>
            <div *ngIf="item.stock === 0" style="opacity:.5">
                <p class="container-category">{{ item.label }}</p>
                <h3>Indisponible pour le moment</h3>
                <p class="price">{{ item.price  | number: "1.2" }}‎€</p>
            </div>
        </div>
</div>