@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

.flex {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;

  & div {
    flex-basis: 40%;
  }
}

.container-category {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Dancing Script', 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #262626;
  height: 132px;
  min-width: 230px;
  margin: 0;
}