<!--The content below is only a placeholder and can be replaced.-->

<section *ngIf="step === 0">
    <app-home></app-home>
</section>
<section *ngIf="step === 1">
    <app-product-category
            [inputData]="myCoffee"
            (sendBackData)="editMyObject($event)"
    ></app-product-category>
</section>
<section *ngIf="step === 2">
    <app-product-item
            [inputData]="myCoffee"
            (sendBackData)="editMyObject($event)"
    ></app-product-item>
</section>
<section *ngIf="step === 3">
    <app-intensity
            [inputData]="myCoffee"
            (sendBackData)="editMyObject($event)"
    ></app-intensity>
</section>
<section *ngIf="step === 4">
    <app-size
            [inputData]="myCoffee"
            (sendBackData)="editMyObject($event)"
    ></app-size>
</section>
<section *ngIf="step === 5">
    <app-ingredients
            [inputData]="myCoffee"
            (sendBackData)="editMyObject($event)"
    ></app-ingredients>
</section>
<section *ngIf="step === 6">
    <app-toppings
            [inputData]="myCoffee"
            (sendBackData)="editMyObject($event)"
    ></app-toppings>
</section>
<section *ngIf="step === 7">
    <app-order
            [inputData]="myCoffee"
            (sendBackData)="editMyObject($event)"
    ></app-order>
</section>
<p class="price" *ngIf="myCoffee.price > 0">Prix : {{ myCoffee.price  | number: "1.2" }}‎€</p>