/* You can add global styles to this file, and also import other style files */
/* Typo */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

/* General settings */
body {
  font-family: 'Montserrat', serif;
  background-image: url('../src/assets/img/bcg.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;

  app-root {
    width: 100%;
    padding-bottom: 50px;
  }
}

.wrapper {
  max-width: 788px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Heading */

h2 {
  font-family: Montserrat, serif;
  font-size: 46px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #262626;
}

h3 {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #262626;
}

.container-category {
  width: 231px;
  height: 325px;
  border-radius: 23px;
  box-shadow: 0 10px 25px 0 #e0e0e0;
  background-color: #fafafa;

  & img {
    height: 180px;
  }
}

/* button */
/* return btn */
.btn-border-blue {
  height: 61px;
  border-radius: 31px;
  border: solid 3px #37627c;
  background-color: #FFFFFF;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 61px;
  color: #37627c;
  padding: 8px 26px;
  display: inline-block;
  text-decoration: none;

  &:focus {
    background-color: #37627c;
    color: #fff;
  }
}